---
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const {
    title = "CCC",
    description = "CCC te ofrece internet rápido, cable de alta calidad. Conectate al futuro hoy.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <link rel="icon" type="image/png" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
        <script is:inline>
            const theme = (() => {
                if (
                    typeof localStorage !== "undefined" &&
                    localStorage.getItem("theme")
                ) {
                    return localStorage.getItem("theme");
                }
                if (
                    window.matchMedia("(prefers-color-scheme: light)").matches
                ) {
                    return "light";
                }
                return "dark";
            })();

            if (theme === "light") {
                document.documentElement.classList.add("light");
            } else {
                document.documentElement.classList.remove("light");
            }
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
